@charset "UTF-8";
/* CSS Document */

/* Este sirve para colocar de cursor el puntero */
.piopialo, .piogplus, .pioface, .piolinked, .piopialo-comment, .powered-link {
	cursor: pointer;
}
.piopialo-comment:hover {
	text-decoration: underline;
}

.piopialob {
	margin: 0;
 	padding: 0;
	margin-top: 30px;
	margin-bottom: 20px;
	display: block;
	clear: both;
	zoom: 1;
}

.piopialob-icon {
	width: 100%;
	text-align: center;
}
.piopialob-icon img {
	border-radius: 50%;
	background-color: white;
	border: 1px solid #c3c3c3;
}
.piopialob-text {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	padding: 35px 20px 20px 20px;
	margin-top: -35px;
	margin-bottom: 20px;
	font-size: 200%;
	line-height: 135%;
	color: #c0c0c0;
	font-weight: 100;
	background-color: white;
}
.piopialob-text:hover {
	-webkit-box-shadow: 0px 0px 30px 1px rgba(125, 125, 125, 0.45);
	-moz-box-shadow:    0px 0px 30px 1px rgba(125, 125, 125, 0.45);
	box-shadow:         0px 0px 30px 1px rgba(125, 125, 125, 0.45);
}
.piopialob-link {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	position: relative;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	font-size: 50%;
	line-height: 135%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.piopialob-powered {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	position: relative;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	font-size: 10px;
	text-align: center;
	margin-top: -20px;
}


/* Piopialo Reducido */
.piopialobred {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	border: 1px solid #c3c3c3;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 200%;
	line-height: 135%;
	color: #c0c0c0;
	font-weight: 100;
	background-color: white;
}
.piopialobred:hover {
	-webkit-box-shadow: 0px 0px 30px 1px rgba(125, 125, 125, 0.45);
	-moz-box-shadow:    0px 0px 30px 1px rgba(125, 125, 125, 0.45);
	box-shadow:         0px 0px 30px 1px rgba(125, 125, 125, 0.45);
}
.piopialobred-link {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	position: relative;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	font-size: 50%;
	line-height: 135%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.piopialobred-powered {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	position: relative;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	font-size: 10px;
	text-align: center;
	margin: 10px 0px -20px 0px;
}
/* Fin del Reducido */

/*  Tema moderno */
.piopialobmod {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	border-radius: 3px 1px 1px 3px;
	padding: 15px 10px 10px 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 200%;
	line-height: 135%;
	color: white;
	font-weight: 100;
	background-color: #60a8dc;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.piopialobmod:hover {
	transition: all 0.3s ease-in-out;
	background-color: #2098d1;
}
.piopialobmod a {
	color: white;
}
.piopialobmod-link {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	position: relative;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	font-size: 50%;
	line-height: 135%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.piopialobmod-powered {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	position: relative;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	font-size: 10px;
	text-align: center;
	margin-top: -10px;
}


/* --- FIn tema moderno Gris */

/*  Tema moderno */
.piopialobmodgris {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	border-radius: 3px 1px 1px 3px;
	padding: 15px 10px 10px 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 200%;
	line-height: 135%;
	font-weight: 100;
	/*background-color: #60a8dc;*/
	background-color: #f0f0f0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.piopialobmodgris:hover {
	transition: all 0.3s ease-in-out;
	background-color: #60a8dc;
	color: white;
}
.piopialomodgris:hover  a {
	color: white !important;
}

.piopialobmodgris-link {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	position: relative;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	font-size: 50%;
	line-height: 135%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.piopialobmodgris-powered {
	/* Resetear Estilos */
	margin: 0;
	padding: 0;
	position: relative;
	word-wrap: break-word;
	text-transform: none;
	letter-spacing: 0.05em;
	text-decoration: none;
	text-transform: none;
	/* ++++++++++ */
	font-size: 10px;
	text-align: center;
	margin-top: -10px;
}


/* --- FIn tema moderno Gris */

/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#pioton {
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
	background-color: white;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	z-index: 10000;
}